In [114]:
%pylab inline
import pandas

Populating the interactive namespace from numpy and matplotlib

In [115]:
data = pandas.read_stata("ZA1715_v1-0-1.dta")

```
The variables we want to compare are:
v563 Common Defense
v566 Common Foreign Policy 
v565 Single Currency 
v567 European Government

To do this we need the european weighting from Footnote 12: 
In calculating the correlations, national weights were applied to all observations so as to provide
a representative sample of the EU population. In addition, an identical analysis was conducted that
excluded all responses of "don't know". The results were very similar to those presented here. In in-
terpreting the correlations, remember that discrete variables allow only a crude representations of the
actual continuum of responses to each question. This tends to attenuate the magnitude of the corre-
lations among the variables (Kim and Mueller 1978, 74).

From the codebook:
5  NATION I (UK As one variable.)            
6  NATION WEIGHT I                                         
7  NATION II (NI and GB separated.)                          
8  NATION WEIGHT II                                        
9  EUROPEAN WEIGHT

(We likely only need 9, but it's easier to leave the rest in our set for now.)
```

In [116]:
# Import the data into a new data frame and give saner column names.
Table1_Data = data[['v5','v6','v7','v8','v9','v563','v565','v566','v567']]
Table1_Data.columns = [
    'Nation_1',                                                                 
    'Weight_1',                                                                 
    'Nation_2',                                                         
    'Weight_2',                                                                 
    'European_Weight',                                                          
    'Common_Defense',                                                           
    'Single_Currency',                                                          
    'Common_Foreign_Policy',                                                    
    'European_Government']

Table1_Data.columns

Index([u'Nation_1', u'Weight_1', u'Nation_2', u'Weight_2', u'European_Weight',
       u'Common_Defense', u'Single_Currency', u'Common_Foreign_Policy',
       u'European_Government'],
      dtype='object')

```
From Footnote 11, Page 341
'Each of the four question asked the respondent if she were for or against implementing the par-
ticular proposal between the twelve countries of the EC by 1992. I coded a response of "against" as
(0), "don't know" as (0.5), and "for" as (1).

Need to recode data as:

"against" (0) 
"don't know" (0.5)
"for" as (1)

```

In [117]:
col_list = Table1_Data[['Common_Defense',
                        'Single_Currency', 
                        'Common_Foreign_Policy', 
                        'European_Government']].columns

Table1_Data[col_list].apply(lambda x: x.cat.codes)

,Common_Defense,Single_Currency,Common_Foreign_Policy,European_Government
0,0,0,0,0
1,1,0,1,-1
2,-1,1,0,1
3,0,1,1,-1
4,0,0,0,0
5,0,0,0,0
6,0,-1,0,0
7,0,0,0,0
8,0,0,0,0
9,1,0,1,1
10,0,0,0,0
11,1,1,0,1
12,0,-1,-1,0
13,0,1,0,1
14,0,0,0,0
15,0,0,0,-1
16,0,0,0,0
17,0,1,-1,-1
18,0,0,0,0
19,1,0,0,-1
20,0,0,0,1
21,-1,0,0,1
22,1,0,0,1
23,0,0,0,0
24,0,0,0,-1
25,-1,-1,0,-1
26,0,-1,0,-1
27,-1,-1,0,-1
28,-1,-1,0,-1
29,0,-1,0,1
...,...,...,...,...
11764,-1,-1,-1,-1
11765,0,0,-1,-1
11766,-1,0,-1,0
11767,0,0,0,-1
11768,-1,0,-1,0
11769,-1,-1,-1,-1
11770,-1,-1,-1,-1
11771,-1,-1,-1,-1
11772,-1,-1,-1,-1
11773,-1,-1,-1,-1
11774,-1,0,-1,0
11775,0,0,0,0
11776,-1,-1,-1,-1
11777,0,0,0,0
11778,-1,1,-1,1
11779,-1,-1,-1,0
11780,0,0,0,0
11781,-1,-1,-1,-1
11782,0,0,0,0
11783,-1,-1,-1,-1
11784,-1,-1,-1,-1
11785,0,-1,-1,-1
11786,-1,1,-1,0
11787,0,1,-1,0
11788,0,-1,-1,-1
11789,0,-1,0,-1
11790,0,-1,-1,-1
11791,0,1,-1,-1
11792,0,-1,1,-1
11793,0,0,0,0