In [25]:
%pylab inline
import pandas

Populating the interactive namespace from numpy and matplotlib

In [26]:
data = pandas.read_stata("ZA1715_v1-0-1.dta")

```
The variables we want to compare are:
v563 Common Defense
v566 Common Foreign Policy 
v565 Single Currency 
v567 European Government

To do this we need the european weighting from Footnote 12: 
In calculating the correlations, national weights were applied to all observations so as to provide
a representative sample of the EU population. In addition, an identical analysis was conducted that
excluded all responses of "don't know". The results were very similar to those presented here. In in-
terpreting the correlations, remember that discrete variables allow only a crude representations of the
actual continuum of responses to each question. This tends to attenuate the magnitude of the corre-
lations among the variables (Kim and Mueller 1978, 74).

From the codebook:
5  NATION I (UK As one variable.)            
6  NATION WEIGHT I                                         
7  NATION II (NI and GB separated.)                          
8  NATION WEIGHT II                                        
9  EUROPEAN WEIGHT

(We likely only need 9, but it's easier to leave the rest in our set for now.)
```

In [27]:
# Import the data into a new data frame and give saner column names.
Table1_Data = data[['v5','v6','v7','v8','v9','v563','v565','v566','v567']]
Table1_Data.columns = [
    'Nation_1',                                                                 
    'Weight_1',                                                                 
    'Nation_2',                                                         
    'Weight_2',                                                                 
    'European_Weight',                                                          
    'Common_Defense',                                                           
    'Single_Currency',                                                          
    'Common_Foreign_Policy',                                                    
    'European_Government']

Table1_Data

,Nation_1,Weight_1,Nation_2,Weight_2,European_Weight,Common_Defense,Single_Currency,Common_Foreign_Policy,European_Government
0,GERMANY,2.290,GERMANY,2.29,5.206,FOR,FOR,FOR,FOR
1,GERMANY,1.810,GERMANY,1.81,4.114,AGAINST,FOR,AGAINST,NaN
2,GERMANY,0.341,GERMANY,0.34,0.773,NaN,AGAINST,FOR,AGAINST
3,GERMANY,0.690,GERMANY,0.69,1.569,FOR,AGAINST,AGAINST,NaN
4,GERMANY,0.640,GERMANY,0.64,1.455,FOR,FOR,FOR,FOR
5,GERMANY,1.361,GERMANY,1.36,3.092,FOR,FOR,FOR,FOR
6,GERMANY,1.580,GERMANY,1.58,3.592,FOR,NaN,FOR,FOR
7,GERMANY,1.330,GERMANY,1.33,3.023,FOR,FOR,FOR,FOR
8,GERMANY,1.420,GERMANY,1.42,3.228,FOR,FOR,FOR,FOR
9,GERMANY,0.550,GERMANY,0.55,1.250,AGAINST,FOR,AGAINST,AGAINST
10,GERMANY,1.241,GERMANY,1.24,2.817,FOR,FOR,FOR,FOR
11,GERMANY,1.341,GERMANY,1.34,3.046,AGAINST,AGAINST,FOR,AGAINST
12,GERMANY,0.190,GERMANY,0.19,0.431,FOR,NaN,NaN,FOR
13,GERMANY,0.510,GERMANY,0.51,1.160,FOR,AGAINST,FOR,AGAINST
14,GERMANY,1.959,GERMANY,1.96,4.456,FOR,FOR,FOR,FOR
15,GERMANY,1.590,GERMANY,1.59,3.615,FOR,FOR,FOR,NaN
16,GERMANY,1.230,GERMANY,1.23,2.796,FOR,FOR,FOR,FOR
17,GERMANY,0.320,GERMANY,0.32,0.727,FOR,AGAINST,NaN,NaN
18,GERMANY,1.851,GERMANY,1.85,4.206,FOR,FOR,FOR,FOR
19,GERMANY,1.040,GERMANY,1.04,2.365,AGAINST,FOR,FOR,NaN
20,GERMANY,0.870,GERMANY,0.87,1.975,FOR,FOR,FOR,AGAINST
21,GERMANY,1.290,GERMANY,1.29,2.932,NaN,FOR,FOR,AGAINST
22,GERMANY,0.480,GERMANY,0.48,1.091,AGAINST,FOR,FOR,AGAINST
23,GERMANY,0.360,GERMANY,0.36,0.819,FOR,FOR,FOR,FOR
24,GERMANY,0.420,GERMANY,0.42,0.955,FOR,FOR,FOR,NaN
25,GERMANY,0.400,GERMANY,0.40,0.910,NaN,NaN,FOR,NaN
26,GERMANY,0.970,GERMANY,0.97,2.205,FOR,NaN,FOR,NaN
27,GERMANY,0.310,GERMANY,0.31,0.704,NaN,NaN,FOR,NaN
28,GERMANY,1.159,GERMANY,1.16,2.638,NaN,NaN,FOR,NaN
29,GERMANY,0.830,GERMANY,0.83,1.887,FOR,NaN,FOR,AGAINST
...,...,...,...,...,...,...,...,...,...
11764,PORTUGAL,1.000,PORTUGAL,1.00,0.339,NaN,NaN,NaN,NaN
11765,PORTUGAL,1.000,PORTUGAL,1.00,0.339,FOR,FOR,NaN,NaN
11766,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,FOR,NaN,FOR
11767,PORTUGAL,1.000,PORTUGAL,1.00,0.340,FOR,FOR,FOR,NaN
11768,PORTUGAL,1.000,PORTUGAL,1.00,0.339,NaN,FOR,NaN,FOR
11769,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,NaN,NaN,NaN
11770,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,NaN,NaN,NaN
11771,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,NaN,NaN,NaN
11772,PORTUGAL,1.000,PORTUGAL,1.00,0.339,NaN,NaN,NaN,NaN
11773,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,NaN,NaN,NaN
11774,PORTUGAL,1.000,PORTUGAL,1.00,0.339,NaN,FOR,NaN,FOR
11775,PORTUGAL,1.000,PORTUGAL,1.00,0.339,FOR,FOR,FOR,FOR
11776,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,NaN,NaN,NaN
11777,PORTUGAL,1.000,PORTUGAL,1.00,0.340,FOR,FOR,FOR,FOR
11778,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,AGAINST,NaN,AGAINST
11779,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,NaN,NaN,FOR
11780,PORTUGAL,1.000,PORTUGAL,1.00,0.340,FOR,FOR,FOR,FOR
11781,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,NaN,NaN,NaN
11782,PORTUGAL,1.000,PORTUGAL,1.00,0.340,FOR,FOR,FOR,FOR
11783,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,NaN,NaN,NaN
11784,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,NaN,NaN,NaN
11785,PORTUGAL,1.000,PORTUGAL,1.00,0.340,FOR,NaN,NaN,NaN
11786,PORTUGAL,1.000,PORTUGAL,1.00,0.340,NaN,AGAINST,NaN,FOR
11787,PORTUGAL,1.000,PORTUGAL,1.00,0.340,FOR,AGAINST,NaN,FOR
11788,PORTUGAL,1.000,PORTUGAL,1.00,0.340,FOR,NaN,NaN,NaN
11789,PORTUGAL,1.000,PORTUGAL,1.00,0.339,FOR,NaN,FOR,NaN
11790,PORTUGAL,1.000,PORTUGAL,1.00,0.340,FOR,NaN,NaN,NaN
11791,IRELAND,1.000,IRELAND,1.00,0.113,FOR,AGAINST,NaN,NaN
11792,IRELAND,1.000,IRELAND,1.00,0.113,FOR,NaN,AGAINST,NaN
11793,IRELAND,1.000,IRELAND,1.00,0.113,FOR,FOR,FOR,FOR

```
From Footnote 11, Page 341
'Each of the four question asked the respondent if she were for or against implementing the par-
ticular proposal between the twelve countries of the EC by 1992. I coded a response of "against" as
(0), "don't know" as (0.5), and "for" as (1).

Need to recode data as:

"against" (0) 
"don't know" (0.5)
"for" as (1)

```

In [28]:
Table1_Data.Common_Defense.dtypes

category

In [4]:
# Convert data to numerical from categorical. 
# Operation can only be performed once. (Once the data isn't categorical it can't be converted again.)

col_list = Table1_Data[['Common_Defense',
                        'Single_Currency', 
                        'Common_Foreign_Policy', 
                        'European_Government']].columns

Table1_Data[col_list] = Table1_Data[col_list].apply(lambda x: x.cat.codes)

# After conversion:
# 0 = For, 1 = against, -1 = no answer/don't know.
# Need to switch to expected values above. (lambda x: re(foo) should do it.)

/Users/tdeburca/Library/Python/2.7/lib/python/site-packages/pandas/core/frame.py:2440: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [23]:
x = 0

def rotate_value(value):
    if value == 0:
        return 1

x = rotate_value(x)
x

1