In [17]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4,5], 'col2':list('abcab'),  'col3':list('ababb')})
df

   col1 col2 col3
0     1    a    a
1     2    b    b
2     3    c    a
3     4    a    b
4     5    b    b

In [18]:
df['col2'] = df['col2'].astype('category')
df['col3'] = df['col3'].astype('category')
df.dtypes

col1       int64
col2    category
col3    category
dtype: object

In [19]:
# Select Columns where type is Category.
cat_columns = df.select_dtypes(['category']).columns

In [20]:
cat_columns

Index([u'col2', u'col3'], dtype='object')

In [22]:
df[cat_columns].apply(lambda x: x.cat.codes)

   col2  col3
0     0     0
1     1     1
2     2     0
3     0     1
4     1     1